@model AUCTIONonlineWeb.Models.Sale

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_userLayout.cshtml";
}

<h2>Details</h2>

<div class="row">
    <h4>Deatils @Html.DisplayFor(model => model.ProductName) </h4>
    <hr />
    <div class="col-lg-8">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ProductDiscription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ProductDiscription)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Category)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SaleDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SaleDate)
            </dd>

        </dl>

    </div>
    <div class="col-lg-4">
        <img src="@Url.Content(Model.Image)" />
    </div>




</div>

<hr />
<div class="row" style="text-align:right;margin-right:100px">

    <h4><strong><i class="fa fa-home" aria-hidden="true" style="font:40px"></i>@Html.ActionLink("Back to Home", "Index", "Home")</strong> </h4>
</div>

